.link-back {
    display: block;
    width: fit-content;
    height: 60px;
    margin: 10px 40px 0 auto;
    img {
        width: 40px;
        height: 40px;
    }
}
.slider-wrapper {
    position: relative;
    margin: 0 auto;

    overflow-x: auto;
    pointer-events: none;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &.instant-scroll {
        scroll-behavior: unset;
    }

}

.slider {
    display: flex;
    width: fit-content;
    padding: 0 2000px;

    .slide {
        color: orange;
        margin: 5px 20px;
        opacity: 0.4;
        pointer-events: all;

        @media all and ( max-width: 1439px ) {
            margin: 5px 10px;
        }

        @media all and ( max-width: 767px ) {
            margin: 5px;
        }
        
        &.active {
            opacity:1
        }
        &:hover {
            opacity: 1
        }

        a {
            color: white;
            text-decoration: none;

            .image-wrapper {
                display: flex;
                justify-items: center;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 50vw;
                min-width: 224px;
                height: 70vh;
                max-height: 600px;
                overflow: hidden;
                margin: 0 auto;
                @media all and ( max-height: 500px ) {
                    height: 50vh;
                }
            }

            img {
                position: absolute;
                width: 100%;
                min-width: 1008px;
                min-height: 600px;
            }
        }

    }

}

