
<a class="link-back" [routerLink]="['']" >
    <img src="assets/image/cross.png">
</a>

<div class="slider-wrapper">

    <div class="slider">

        <div *ngFor="let slide of slides; index as slideId"  id="image{{slideId}}" class="slide"  >

            <a [routerLink]="['/slider', slideId]" class="slide-link" (click)="rotateToSlide(slideId,'')" >

                <div class="image-wrapper">
                    <img src="{{ slide.imagePath }}">
                </div>

                <h3>
                    Большой заголовок слайда, очень длинный и совсем не короткий
                </h3>

            </a>

        </div>

    </div>

</div>

